@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Medium"),
  url("../fonts/Montserrat-Medium.woff2") format('woff2'),
  url("../fonts/Montserrat-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Bold"),
  url("../fonts/Montserrat-Bold.woff2") format('woff2'),
  url("../fonts/Montserrat-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-ExtraBold"),
  url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Regular"),
  url("../fonts/Montserrat-Regular.woff2") format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-SemiBold"),
  url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/* global */
:root{
  --black: #000;
  --white: #fff;
  --grey: #cacaca;
  --background: #4ce7da;
  --descr: #1F07B3;
  --button-hover: #160582;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section-offset{
  padding-top: 35px;
  padding-bottom: 35px;
}

.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset{
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.title-reset{
  margin: 0;
}

.text-reset{
  margin: 0;
}

.second-title{
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  color: var(--black);
}

/* header */

.header__container{
  display: flex;
  padding: 14px 30px;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.header__logo{
  margin-right: auto;
}

.logo{
  width: 400px;
  height: 100px;
}

.header__nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav__list{
  display: flex;
  flex-wrap: wrap;
}

.nav__link{
  font-weight: 600;
  font-size: 18px;
  line-height: 200%;
  color: var(--grey);
}

.nav__link{
  margin-right: 85px;
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}

/* about-us */
.about-us__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 80px;
  background-image: url("../img/about-us-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.first-title{
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  color: var(--white);
  -webkit-text-stroke: 1px var(--black);
}


.about-us__descr{
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  color: var(--descr);
}

.about-us__button{
  position: relative;
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: var(--white);
  border-radius: 16px;
  background: var(--descr);
  transition: background 0.3s ease-in-out;
}

.about-us__button:hover{
  background: var(--button-hover);
}

/* contacts */
.contacts__content{
  display: flex;
  justify-content: space-between;
  padding: 45px;
  background-repeat: 15px;
  background: var(--white);
}

.contacts__left{
  max-width: 375px;
  width: 100%;
}

.address{
  margin-bottom: 45px;
  font-style: normal;
}

.address__list{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.address__item{
  display: flex;
  justify-content: space-between;
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}

.address__name{
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
}

.address__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--descr);
}

.adrsess__link{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--descr);
}

/* message */
.message__container{
  padding: 45px;
  border-radius: 15px;
  background: #e9e9e9;
}

.form{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 50px;
  padding: 28px 32px;
  border-radius: 15px;
  background: var(--white);
}

.form__block{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 15px;
  max-width: 170px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  color: var(--black);
}

.form__select{
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  border: none;
  outline: none;
  border-bottom: 1px solid #e9e9e9;
}

.form__select:focus{
  outline: 1px solid var(--basic-yellow);
  outline-offset: 5px;
}

.form__input{
  border: none;
  border-bottom: 1px solid #e9e9e9;
  outline: none;
}

.form__input::-webkit-calendar-picker-indicator:focus-visible{
  outline: 2px solid var(--basic-yellow);
}

.form__input::-webkit-inner-spin-button{
  opacity: 1;
}

.form__input:focus{
  outline-offset: 5px;
  outline: 1px solid var(--basic-yellow)
}

.form__wrpapper{
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}

.form__button{
  max-width: 170px;
  width: 100%;
  padding:  10px 15px;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: var(--white);
  border-radius: 16px;
  background: var(--descr);
  transition: background 0.3s ease-in-out;
}

.form__button:hover{
  background: var(--button-hover);
}

.form__check{
  max-width: 150px;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
}
